<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">留言</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://gitgle.github.io/Shadowrocket/">Shadowrocket</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://gitgle.github.io/Shadowsocks/">Shadowsocks</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://gitgle.github.io/coffee/">给我买杯咖啡<i class="fa fa-coffee text-danger"></i></a>
</li>
